{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if user.is_authenticated %}
   Welcome back, {{ user.username.title }}!
     <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
{% else %}
   Please <a href="{% url 'login' %}?next={{request.path}}">Login</a> or <a href="{% url 'signup' %}?next={{request.path}}">Signup</a> to Vote!
{% endif %}

{% if messages %}
    {% for message in messages %}
        <p class="message"> {{ message }} </p>
    {% endfor %}
{% endif %}

{% if latest_question_list %}
    <div class="polls">
    <ul>
    <table>
    <thead>
        <tr>
            <th>Questions</th>
            <th>Vote</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        {% for question in latest_question_list %}
        <tr>
            <td class="question">{{ question.question_text }}</td>
            <td class="vote">
                <button class="btn" onclick="window.location.href='{% url 'polls:detail' question.id %}'">Vote</button>
            </td>
            <td class="results">
                <button class="btn" onclick="window.location.href='{% url 'polls:results' question.id %}'">Results</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </ul>
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}